@charset "ISO-8859-1";
body, html{
    font-family:Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, Sans-Serif;
}
body{
	margin:0px;
	background: url("/abc/images/bg.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-position:center;
	background-attachment: fixed;
}
.content{
	margin:0px;
	background-size: 100%;
}
button{
	background-color: transparent;
	border-style: none;
	padding: 0px;
}
.menubar{
	height: 25%;
	text-align: right;
	background-color: rgba(50, 50, 50, 0.7);
}
p{
	margin: 5px;
	color: white;
}
h1{
	margin: 0px;
	padding: 16px;
}
h2{
	margin: 0px;
	padding: 15px;
}
option, select{
	color: white;
	padding: 16px;
	border-width: 0px;
	border-style: hidden;
}
select:hover, select:active, option:hover{
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}
.categories{
	background-color:rgba(75, 75, 75, 0.7);
	border-style: hidden;
	transition: 0.3s;
}
.header{
	position: fixed;
	z-index: 2;
	background-color:#808080;
	width: 100%;
}
.heading{
	text-align: center;
	height: 75%;
	color:white;
	background-color: rgba(0, 0, 0, 0.7);
	text-decoration: blink;
	text-shadow: 2px 3px 3px rgba(0,0,0,0.4);
}
.contact{
	text-align: center;
	transition: 0.3s;
}
.cards{
	align-self: center;
	float: left;
	background:  rgba(0, 0, 0, 0.5);
	padding-top:20px; 
	transition: 0.3s;
	width: 100%;
}
.login{
	padding: 50px;
	margin-left: 33%;
	margin-right: 33%;
	transition: 0.2s;
	margin-top: 20px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);
	align-items:center;
	border-radius: 16px;
}
.container{
	position:relative;
	float: left;
	width:28%;
	height: 370px;
	margin-left: 15px;
	margin-right: 20px;
	margin-bottom: 40px;
	box-shadow: 0 0 16px 4px rgba(0,0,0,0.3);
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 8px; 
	transition: 0.3s;
}
.emptycards{
	align-self: center;
	float: left;
	margin-top:200px;
	border-radius: 8px; 
}
.emptycontainer{
	position:relative;
	align-content:center;
	float: left;
	padding: 100%;
	box-shadow: 0 0 16px 4px rgba(0,0,0,0.3);
	border-radius: 8px; 
	transition: 0.3s;
}
.container:hover{
	box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.7);
}
.bottom{
 font-size: 18px;
 padding-bottom: 20px;
 padding-top: 10px;
 margin-left: 8px;
 margin-right: 8px;
}
img{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px; 
	width: 100%;
	height: 250px;
}
.menubaritem{
	color: white;
	padding: 12px;
	padding-bottom: 18px;
	transition: 0.2s;
	text-decoration: none;
}
.menubaritem:hover{
	background-color: rgba(0, 0, 0, 0.7);
	transition: 0.5s;
}
p.title{
	color:#cccccc;
	overflow:hidden;
	text-align:justify;
	height: 65px;
	margin: 8px;
}
.author{
	height: 20px;
	color: white;
	float: left;
	font-weight:bold;
	font-size: 12px;
	margin-left: 8px;
}