@charset "ISO-8859-1";
.link{
	position: absolute;
	padding: 8px;
	text-decoration: none;
	color: white;
}
.link:hover{
	color: #aaddff;
	background-color: 0px 0px 8px 8px rgba(0, 0, 0, 1);
}
p{
	color: white;
	padding-bottom: 8px;
	padding-top: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
}
input{
	font-family:Segoe UI, Segoe WP, Arial, Sans-Serif;
	border-style: hidden;
	padding: 8px;
	border-style: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	margin-bottom: 8px;
}
.btn{
	background-color: rgba(0, 0, 0, 0.8);
	border-style:groove;
	margin-right: 16px;
	width: 120px;
	color: white;
	margin-top: 16px;
}
.btn:hover{
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 16px 8px rgba(0,0,0,1);
}
select:hover, select:active, option:hover{
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}
.categories{
	background-color: rgba(0, 0, 0, 0.7);
	border-style: hidden;
}
li, h4, h2{
	color:white;
}
.login{
	padding: 36px;
	margin-left: 36%;
	margin-right: 36%;
	color: white;
	margin-top: 30px;
	position: relative;
	background-color: rgba(0, 0, 0, 0.7);
	align-items:center;
	border-radius: 16px;
}
.body{
	align-items:center;
	padding-top: 50px;
	width: 100%;
	trasition: 0.3sec;
	position: absolute;
}
b{
	color: white;
}